# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
  branches:
    include:
      - azure-pipelines-aks6





variables:

  # Container registry service connection established during pipeline creation



  dockerRegistryServiceConnection: 'testdocker'
  imageRepository: 'lahu2405'
  containerRegistry: 'lahu2405arc.azurecr.io'
  dockeruser: 'lahu2405arc'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImage: ubuntu-latest





stages:
- stage: Build
  displayName: Build and push stage



  jobs:
  - job: Build
    displayName: Build



    pool:
      vmImage: $(vmImage)
    steps:
    - task: Docker@2



      displayName: Build and push an image to container registry



      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)



        tags: |
          latest,$(tag)


    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Pipeline.Workspace)'
        artifact: 'builds'
        publishLocation: 'pipeline'